* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../assets/CZxYUWgWIAMnHff.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #ffffff; 
}

nav {
    overflow: hidden;
    white-space: nowrap;
    }

ul {
    
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f1f1f1; 
}

ul li {
    display: inline-block;
    margin-right: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    color: #333333;
}

ul li i {
    margin-right: 5px;
    
}

ul li p {
    display: inline-block;
    align-items: center;
    
}

.circle{
    width: 40px;
    height:40px ;
    border-radius: 50%;
    background-color: white;
    
    
}
.circle i{
    margin: 13px;
    size: 40px;
   
}
.image{
    display: flex;
    justify-content: center;
    
    margin-top: 50px;
    gap:20px;
    display: flex;
    align-items: flex-end;
}
.image img{
    border-radius: 20px;
    background-color: black !important;
}

.input-class {
    margin: 0 auto;
    border-radius: 30px;
    padding: 10px;
    padding-left: 40px;
    margin-top: 30px;
    background-color: white;
    width: 800px;
    display: flex;
    align-items: center;
    border: 1px solid #dcdcdc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-class i {
    margin: 0 10px;
    font-size: 20px;
    color: #555;
}

.input-class input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
}

.input-class i#glass {
    font-size: 24px;
}
.desktopapps {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.app-icon {
    margin: 0 20px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    width: 70px;
    height: 70px;
    
}
.app p{
    color: #f1f1f1;
    display: flex;
    justify-content: center;
}
/*#lastt{
    width:600px
    height:400px
}
.last{
    height: 30%;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #f1f1f1;
}
.inner{
    height: 70%;
padding: 30px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #dcdcdc;
}*/
#lastt{width: 720px;
    height: 700px;
    border: 1px solid  #dcdcdc ;
    border-radius: 20px;
    margin:0 auto;
    margin-top: 60px;
    background-color:  #e6e7e9; ;
    

}
.container{
    width: 690px;
    height: 630px;
    
    border: 1px solid  #dcdcdc ; border-radius: 20px;
    margin:0 auto;
    margin-top: 20px;
    background-color: #f1f1f1 ;
    

}
#lastt h1{  font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-left: 15px;
    padding-top: 20px;
    font-size: small;

}
.inner{display: flex;
    justify-content: space-between
    ;
}
#first{
    padding-right: 15px;
    padding-top: 20px;
}